body {
    background-color: #131314;
    margin: 0;
    color: white;
}

header {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
}

.container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
}

li {
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

main {
    width: 70%;
    background-color: black;
    border-radius: 10px;
    margin: auto;
}

/* Poster */
.poster {
    color: black;
    margin: 20px auto;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster img {
    max-width: 100%;
    border-radius: 10px;
}

.poster-title {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 24px;
    font-weight: bold;
}

/* MAIN */
main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;

}

main .f ul {
    display: flex;
    padding: 5px;
    overflow-x: scroll;
    scrollbar-width: none;
    box-sizing: border-box;
    justify-content: center;
    list-style: none;
}

.f .f0 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.f0 ul li p {
    justify-self: center;
}

footer .container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #121212;
    width: 80%;
    margin: auto;
    padding: 24px 0;
    box-sizing: border-box;
}

.footer-main {
    display: flex;
    gap: 20px;
}

.footer-col h4 {
    color: white;
    margin-bottom: 12px;
    font-size: 16px;
}

.footer-bottom {
    border-top: 1px solid #333;
    margin-top: 24px;
    padding: 16px 0;
    text-align: left;
    max-width: 100%;
    border-bottom: 1px solid #333;
}

.footer-end {
    text-align: center;
    padding: 30px;
}